:root {
  /* Paleta Leve Bem - Empresa */
  --primary: #0A7334;      /* Verde (Botões principais, sucesso) */
  --secondary: #FCBB14;    /* Amarelo (Ícones, detalhes) */
  --destaque: #D9224A;     /* Rosa/Vermelho (Deletar, Cancelar) */
  --roxo-escuro: #36073D;  /* Títulos, Fundo do Login */
  --roxo-claro: #592673;   /* Textos secundários */
  
  --bg-fundo: #f8fafc;
  --bg-card: #ffffff;
}

body {
  background-color: var(--bg-fundo);
  color: var(--roxo-escuro);
  font-family: 'Inter', sans-serif;
}